@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* padding-top: -30; */
}

.botones{
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a{
    background-color: #0a2be9;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;

}

.botones a:focus{
    background-color: rgb(50, 194, 194);
}

.greetings{
    font-size: 3.5rem;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.greetings .word{
    display: flex;
}
.greetings .word > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}


.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:768px){
    body{
        height: 100vh;
        padding: 20px;
    }
    .greetings{
        font-size: 2rem;
        font-weight: 800;
        gap: 0.5rem;
        margin-bottom: 20px;
    }
    .description{
        font-size: 1.2rem;
        margin-bottom: 30px;
        padding: 0 15px;
    }
    
    .button a{
        font-size: 0.9rem;
        padding: 8px 20px;
    }
}

@media screen and (max-width:480px){
    .greetings{
        font-size: 1.5rem;
        gap: 0.3rem;
    }
    .description{
        font-size: 1rem;
    }
    .button a{
        font-size: 0.85rem;
        padding: 7px 15px;
    }
}